<div>

    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <h2 style="margin-top: 0px;" translate="ampfrontApp.ampUser.home.title">Amp Users</h2>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-primary" ui-sref="amp-user.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="ampfrontApp.ampUser.home.createLabel">
                        Create new Amp User
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped" data-st-table="vm.ampUsers" data-st-pipe="vm.loadAll">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="ouIdentif"><span translate="ampfrontApp.ampUser.ouIdentif">Ou Identif</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="loginName"><span translate="ampfrontApp.ampUser.loginName">Login Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span translate="ampfrontApp.ampUser.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fullName"><span translate="ampfrontApp.ampUser.fullName">Full Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="accountLocked"><span translate="ampfrontApp.ampUser.accountLocked">Account Locked</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
                <tr>
                    <th>
                        <input st-search="ouIdentif"  class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="loginName"  class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="email"  class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="fullName"  class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="accountLocked"  class="input-sm form-control" type="search"/>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ampUser in vm.ampUsers track by ampUser.id">
                    <td>{{ampUser.ouIdentif}}</td>
                    <td>{{ampUser.loginName}}</td>
                    <td>{{ampUser.email}}</td>
                    <td>{{ampUser.fullName}}</td>
                    <td>{{ampUser.accountLocked}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="amp-user-detail({id:ampUser.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="amp-user.edit({id:ampUser.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="amp-user.delete({id:ampUser.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm">Désactiver</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
